.search-filter {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 20px 0;
    padding-left: 20px;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 200px;
  }
  
  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .filter-btn {
    background: none;
    border: 2px solid red;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: red;
  }
  
  .result-count {
    font-size: 16px;
  }
  
  .price-list-btn, .compare-btn {
    border: 2px solid red;
    padding: 8px 12px;
    background: none;
    color: red;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .price-list-btn:hover, .compare-btn:hover {
    background: red;
    color: white;
  }

  .brand-btn {
    align-items: right;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .brand-btn:hover {
    background-color: red;
    color: white;
  }
  
  .brand-btn.active {
    background-color: red;
    color: white;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    transform: scale(1.05);
  }
  